@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

body {
  background-color: var(--white-green);
}

:root {
  --light-grey: #e9e9e9;
  --purple: #c9a2d6;
  --mocha-green: #d0dddb;
  --black: #030303;
  --white-green: #f5f6f3;
}

button:hover {
  cursor: pointer;
  font-family: inherit;
}

/* Create Deck */
.createDeck-form {
  margin: 20px auto;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createDeck-label {
  font-weight: bold;
}

.createDeck-input {
  border: none;
  border-radius: 10px;
  background-color: var(--light-grey);
  padding: 0.6rem 1rem;
  margin: 1rem;
  width: 500px;
}

.createDeck-btn {
  background-color: var(--black);
  color: var(--white-green);
  font-weight: bold;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
}

/* Decks area */
.decks {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Card */
.decks li {
  list-style: none;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--mocha-green);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  position: relative;
}

.decks li:hover {
  cursor: pointer;
  background-color: var(--purple);
}

.decks .decks-delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
