@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--black);
}

body {
  background-color: var(--white-green);
}

:root {
  --grey: #e0e0e0;
  --grey2: #a7a3a3;
  --purple: #d8bae2;
  --purple2: #bf95cd;
  --white-green: #f5f6f3;
  --light-green: #e8efec;
  --mocha-green: #d0dddb;
  --black: #353535;
}

button:hover {
  cursor: pointer;
  font-family: inherit;
}
