/* Home title Area */
.home-title {
  font-size: 2.4rem;
  text-align: center;
  padding: 1.4rem;
}

.home-title span {
  font-size: 2.4rem;
  color: var(--purple2);
}

/* ////////////////////////////////////// */

/* Create Deck Area*/
.createDeck-form {
  margin: 3rem auto;
  width: 36rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createDeck-input-wrapper {
  width: 26rem;
  position: relative;
  height: 96%;
}

.createDeck-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  border: 0.1rem solid var(--black);
  border-radius: 1rem;
  font-family: inherit;
  outline: none;
  padding: 1.25rem;
  background-color: var(--white-green);
  transition: all 0.3s ease;
}

.createDeck-input:hover {
  border-color: var(--purple2);
}

.createDeck-input:focus {
  border-color: var(--purple2);
}

.createDeck-label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: all 0.3s ease;
  background-color: var(--white-green);
}

.createDeck-input:focus ~ .createDeck-label,
.createDeck-input:not(:placeholder-shown).createDeck-input:not(:focus)
  ~ .createDeck-label {
  color: var(--purple2);
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.createDeck-btn {
  background-color: var(--grey);
  border: 0.1rem solid var(--black);
  border-radius: 30px;
  box-shadow: var(--black) 4px 4px 0 0;
  display: inline-block;
  font-weight: 400;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.1s ease;
}

.createDeck-btn:hover {
  background-color: var(--purple);
  transform: translateY(-2px);
}

.createDeck-btn:active {
  box-shadow: var(--black) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* ////////////////////////////////// */

/* Decks List Area */

.decks-intro {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 3rem;
}
