.header {
  margin-bottom: 2rem;
  padding: 0.8rem;
  background-color: var(--light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.records-btn {
  background-color: var(--grey);
  border: 0.1rem solid var(--black);
  border-radius: 30px;
  box-shadow: var(--black) 4px 4px 0 0;
  display: inline-block;
  font-weight: 400;
  padding: 0.5rem;
  margin-right: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.1s ease;
}

.records-btn:hover {
  background-color: var(--purple);
  transform: translateY(-2px);
}

.records-btn:active {
  box-shadow: var(--black) 2px 2px 0 0;
  transform: translate(2px, 2px);
}
